@model BuildCostEstimator.Models.PastebinLink

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Path of Exile</h1>
    <h2 class="display-5">Build Cost Estimator</h2>
</div>

<br />
<br />
<div>
    <form method="post">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div><!-- Validations-->
            <div class="form-group row">
                <div class="col-2">
                    <label>&nbsp;</label> <!-- Why the fuck do I need this?....-->
                </div>
                <div class="col-6">
                    <input asp-for="PastebinUrl" class="form-control" style="color: darkgrey" placeholder="Paste link here." id="pastebinUrlInputForm" onchange="SetButtonTextToGo()" />
                    <!-- Validations based on model-->
                    <span asp-validation-for="PastebinUrl" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <button type="submit" id="pastebinSubmitButton" class="btn btn-warning form-control">Test</button>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts
{
    <script src="~/js/home.js"></script>
}