@model BuildCostEstimator.Models.PastebinLink

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Path of Exile</h1>
    <h2 class="display-5">Build Cost Estimator</h2>
</div>

<br />
<br />
<div>
    <form method="post">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div><!-- Validations-->
            <div class="row" style="margin: auto">
                <div class="col-2"></div>
                <div class="col-6">
                    <input asp-for="PastebinUrl" class="form-control" style="color: black" placeholder="Paste link here" id="pastebinUrlInputForm" onchange="SetButtonTextToGo()" />
                    <!-- Validations based on model-->
                    <span asp-validation-for="PastebinUrl" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <button type="submit" id="pastebinSubmitButton" class="btn btn-warning form-control">Demo</button>
                </div>
            </div>
        </div>

    </form>


    <body>

        <div class="card text-white bg-primary mb-2" style="max-width: 50rem; margin:2rem auto;">
            <h4 class="card-header">About</h4>
            <div class="card-body">
                @*<h4 class="card-title">Primary card title</h4>*@
                <p class="card-text">This tool allows a player to quickly asses how much a particular build might cost using in game currency. The tool takes a pastebin.com link intended to be used in Path of Building. It will pull the build hash from the link, parse the items, price check them and then return the cost of each item in the set as well as a total cost in chaos for each item set in the build.</p>
                <p class="card-text">The tool uses data from <a href="https://poe.ninja/">poe.ninja</a> and <a href="https://www.poeprices.info/">poeprices.info</a> to determine item prices so a huge thank you goes out to their respective authors/maintainers for all they do for the PoE community.</p>
            </div>
            <p></p>
            <h4 class="card-header">Directions</h4>
            <div class="card-body">
                @*<h4 class="card-title">Primary card title</h4>*@
                <p class="card-text">If you would like to see a quick demo of the output, leave the input blank and hit the 'Test'.</p>
                <p class="card-text">Otherwise, use a Path of Building pastebin link, simply enter the link and then hit 'Go'.</p>
            </div>
            <p></p>
            <h4 class="card-header">Limitations</h4>
            <div class="card-body">
                @*<h4 class="card-title">Primary card title</h4>*@
                <p class="card-text">Currently jewel and skill gem parsing is not supported.</p>
            </div>
        </div>
    </body>
</div>

@section Scripts
{
    <script src="~/js/home.js"></script>
}